<!DOCTYPE html>
<html>
<head>
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block stylesheet %}
    {{ bootstrap.load_css() }}
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet"/>
    {% endblock%}
  <title>Giga uga To do list website</title>
</head>
<body>
    <div class="hero_area">
    <!-- header section strats -->
      {% block header %}
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container">
          <a class="navbar-brand" href="{{ url_for('home') }}">
            <img src="images/logo.png" alt="" />
            <span>
              Td_List
            </span>
          </a>


          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav  ">
              <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('home') }}">Home <span class="sr-only"></span></a>
              </li>
                {% if current_user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('user_panel', username=user.username) }}">Panel</a>
              </li>
                {% endif %}
            </ul>
            <div class="user_option">
                {% if not current_user.is_authenticated: %}
              <a href="{{ url_for('login') }}">
                <span>
                  Login
                </span>
              </a>
                {% else: %}
                <a href="{{ url_for('logout') }}">
                <span>
                  Logout
                </span>
              </a>
                {% endif %}
              <a href="{{ url_for('register') }}">
                <span>
                  Register
                </span>
              </a>

            </div>
          </div>

        </nav>
      </div>
    </header>
      {% endblock %}
    <section class="slider_section ">
      <div class="carousel_btn-container">
      </div>
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-5 offset-md-1">
                  <div class="detail-box">
                    {% block content %}
                    <h2>
    Welocme</h2><h3> <br>
    Log in or register <br>
    To start organizing your time with extra notes
</h3>
<p>
    It is a long established fact being well organized improves your productivity
</p>
                    {% endblock %}
                  </div>
                </div>
                <div class="offset-md-1 col-md-4 img-container">
                  <div class="img-box">
                    <img src="{{ url_for('static', filename='slider-img.png') }}" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>


      </div>
      </div>
    </section>
    </div>
</body>
</html>